.contact-form-section {
  padding: 140px 0;
  @media (max-width: 991.98px) {
    padding: 100px 0;
  }
  .section-title {
    text-align: center;
  }
  .material-form {
    margin-top: 30px;
    background-color: #f1ecea;
    padding: 30px 45px;

    @media (max-width: 991.98px) {
      padding: 30px;
    }
    .title {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: #1d1d1d;
      margin-bottom: 45px;
      padding: 0 13px;
    }
    .form-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 28px;
      .full {
        grid-column: 1/3;
      }
    }
  }
}