.financail-section {
  padding: 80px 0;
  .list-unstyled {
    >li {
      &~li {
        margin-top: 110px;
        @media (max-width: 991.98px) {
          margin-top: 80px;
        }
      }
      .title {
        font-size: 50px;
        @media (max-width: 991.98px) {
          font-size: 35px;
        }
      }
      .list-unstyled {
        margin: 30px 60px;
        @media (max-width: 991.98px) {
          margin: 30px;
        }
        li {
          font-size: 18px;
          line-height: 1.39;
          letter-spacing: 0.36px;
          &~li {
            margin-top: 20px;
          }
        }
      }
    }
  }
}