body {
  font-family: 'Barlow', sans-serif;
  color: $black-shade-1;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
a, .btn {
  &:hover, 
  &:focus, 
  &:active {
    box-shadow: none !important;
  }
}
.link {
  color: #0082e9;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}
.bg-grey {
  background-color: $grey-shade-1;
}
.btn {
  border-radius: 30px;  
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding: 9px 30px;  

  &.btn-primary {
    background-color: $black-shade-1;
    border-color: $black-shade-1;
    &:hover {
      color: $black-shade-1;
      border-color: $black-shade-1;
      background-color: $white;
    }
  } 
}
.section-title {
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 1px;
  color: $black-shade-1;

  @media (max-width: 991.98px) {
    font-size: 35px;
    letter-spacing: 0.7px; 
  }
}
.section-desc {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: $black-shade-1;

  @media (max-width: 991.98px) {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.32px;
  }
}
.star-list {
  margin-top: 20px;
  li {
    position: relative;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.32px;
    color: $black-shade-1;
    padding-left: 30px;
    &~li {
      margin-top: 5px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 7.5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border: 1px solid $black-shade-1;
      border-radius: 50%;
    }
  }
}
.star-fill-list {
  margin-top: 20px;
  text-align: left;
  li {
    position: relative;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.28px;
    color: $black-shade-1;
    padding-left: 30px;
    &~li {
      margin-top: 30px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 7.5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border: 1px solid $black-shade-1;
      border-radius: 50%;
    }
  }
}
.circle-fill-list {
  margin-top: 20px;
  text-align: left;
  li {
    position: relative;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.28px;
    color: $black-shade-1;
    padding-left: 26px;
    &~li {
      margin-top: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 10px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $grey-shade-1;
    }
  }
}
.form-control { 
  &:focus,
  &:active {
    box-shadow: none;
  }  
}
.material-form {
  .form-group {
    .form-control {
      background-color: transparent;
      border-radius: 0;
      border-color: transparent transparent $black-shade-1;

      &::-webkit-input-placeholder { /* Edge */
        color: $black-shade-1;
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $black-shade-1;
      }
      
      &::placeholder {
        color: $black-shade-1;
      }

      &.error {
        border-bottom-color: red;
      }
    }
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  button {
    border: 0;
    padding: 0;
    width: 34px;
    height: 34px;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 0.4px;
    color: $black-shade-1;
    background-color: $grey-shade-1;
    border-radius: 50%;

    &.active {
      background-color: $black-shade-1;
      color: $white;
    }
  }
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.wp-video {
  width: auto !important;
  text-align: center;
  video {
    max-width: 100%;
    height: auto;
  }
}