.tabs {
  .nav-tabs {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    border-width: 0; 
    flex-wrap: nowrap;   
    .nav-item {
      flex: 1;
      .nav-link {
        font-size: 25px;
        color: $black-shade-1;
        border: 0;
        border-bottom: 3px solid rgba(#707070, .3);        

        &.active {
          font-weight: 500;
          background-color: transparent;
          border-color: transparent;          
          border-bottom-color: $black-shade-1;          
        }
      }
    }
  }
  &.secondary {
    .nav-tabs {
      .nav-item {
        .nav-link {
          &.active {
            border-bottom-color: $grey-shade-1;   
          }      
        }
      }
    }
  }
}