.team-member-section {
  margin-top: 130px;
  padding: 40px 0;
  text-align: center;
  background-color: #efefef;

  .tabs {
    margin-top: 50px;    
  }

  .member-figure {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);

    @media (max-width: 991.98px) {
      margin: 30px 10px 10px;
    }

    .icon {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .img-fluid {
      width: 100%;
      border-radius: 10px;
    }

    figcaption{
      display: none;
    }

    &:hover{
      figcaption {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 11px;
        color: #fff;
        background-color: rgba(#1d1d1d, .5);
        border-radius: 0 0 10px 10px;
  
        @media (max-width: 991.98px) {
          padding: 15px 10px 25px;
        }
  
        .name {
          font-size: 20px;
          font-weight: 500;
          line-height: 0.95;
          letter-spacing: 0.4px;
  
          @media (max-width: 991.98px) {
            font-size: 27px;
            line-height: 0.96;
            letter-spacing: 0.54px;
          }
        }
        .designation {
          margin: 12px 0 0;
          font-size: 16px;
          letter-spacing: 0.32px;        
        }
      }
    }
  }

  .slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 50px;          
  }

}